*.log

# IntelliJ
.idea/
*.iml

# Terraform
.terraform/
*.tfvars
*.backup

# Npm
node_modules/
*.tsbuildinfo

# Typescript
src/**/*.js
src/**/*.d.ts
src/**/imported.ts

# CDK
cdktf.out/

# Make
.make/
.build/*/
